@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(190, 190, 190);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/mar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* ------------------TITULO------------------ */
.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height: 15vh;
    text-align: center;
    color: white;
    background-color: rgb(30, 112, 235);
    border-bottom: rgb(8, 89, 211) solid 1vh;
}
div.titulo > h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.titulo > h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ------------------NAVBAR------------------- */
div.navbar > a{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    text-decoration: none;
    color: black;
    margin-bottom: 5vh;
    align-self: center;
}
.navbar{
    padding-top: 10vh;
    height: 100vh;
    width: 13vw;
    background-color: rgb(225, 241, 255);
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    opacity: 0.9;
}
a:hover{
    background-color: coral;
    color: white;
}

/* -------------------CONTENIDO ---------------- */
.contenido{
    display: flex;
}
/* --------------------TEXTO-------------------- */
.texto{
    display: flex;
    width: 87vw;
    /* height: 84vh; */
    background-color: rgb(255, 253, 241);
    margin-left: 5vw;
    margin-right: 5vw;
    flex-direction: column;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
}
.texto > *{
    padding: 2vw;
}
/* ------------------PORTADA------------------- */
div#portada{
    text-align: center;
    padding: 4px;
}
div#portada > h1{
    color: red;
}

/* ---------------------TABLAS------------------ */
div#Tablas > h2{
    margin-bottom: 16px;
    margin-right: 35%;
    margin-left: 35%;
    text-align: center;
    color: white;
    background-color: green;
}
div#Tabla1 > h3{
    margin-bottom: 16px;
    margin-right: 40%;
    margin-left: 40%;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(23, 58, 255);
    border: 2px solid black;
    
}
td, th {
    border: 2px solid #000000;
    text-align: left;
    padding: 8px;
}
div#Tabla2 > h3{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 40%;
    margin-left: 40%;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 23, 23);
    border: 2px solid black;
}
table{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: left;
}
/* --------------------INDEX------------------- */