*{
    margin: 0;
}
body{
    background-color: rgb(190, 190, 190);
}
/* ------------------TITULO------------------ */
.titulo{
    text-align: center;
    color: white;
    background-color: rgb(30, 112, 235);
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
}
/* ------------------NAVBAR------------------- */
.navbar{
    display: flex;
    background-color: rgb(254, 255, 200);
    width: 10%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}
.navbar > p{
    padding: 8px;
}